body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 900px;
}

.container-narrow>hr {
	margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 0px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
	margin: 0px 0;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.para {
	margin: 20px 0;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

#map-canvas {
	height: 500px;
}

#main-controls {
	text-align: center;
}

.search-field {
	width: 150px
}
#dateOfJourneyString {
    background:none;            
}

.map_canvas img {
	max-width: none !important;
}

.logo-link:hover {
	text-decoration: none;
}
.site-footer {
	position: relative;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.5;
	color: #777;
	border-top: 1px solid #eee
}

.site-footer:before,.site-footer:after {
	content: " ";
	display: table
}

.site-footer:after {
	clear: both
}

.site-footer .octicon-mark-racloop {
	position: absolute;
	top: 38px;
	left: 50%;
	height: 24px;
	width: 72px;
	margin-left: -12px;
	font-size: 24px;
	color: #ccc
}

.site-footer .octicon-mark-racloop:hover {
	color: #bbb
}

.site-footer-links {
	float: left;
	margin: 0;
	list-style: none
}

.site-footer-links.right {
	float: right
}

.site-footer-links li {
	display: inline-block;
	line-height: 16px
}

.site-footer-links li+li {
	margin-left: 10px
}

.site-footer-links img {
	display: block
}