.header {
    background: url(../images/background-images/2.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.header-racloop {
    background: url(../images/background-images/2.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.header-racloop .overlay-layer-racloop {
    padding-top: 65px;
    padding-bottom: 5px;
    height: auto;
}
.intro-section {
    margin-top: 40px;
}
.intro-section-from {
    margin-top: 110px;
}
.section-header-racloop {
    margin-top: 25px;
    margin-bottom: 60px;
}
.horizontal-subscribe-form .input-box {
    font-size: inherit;
}
.standard-button {
    padding: 12px 12px 12px 12px;
}
.intro-section h5 {
    margin-top: 15px;
    margin-bottom: 30px;
}
.navbar-header .logo-racloop {
    font-size: 150%;
    color: #008ed6;
}
#logo-racloop {
    font-size: 150%;
    color: #008ed6;
}
.green-text {
    color: #75a932;
}
.red-text {
    color: #fc3b3b;
}
.section-stats {
    margin-top: 45px;
    margin-bottom: 30px;
}
.intro-section-search {
    margin-top: 5px;
}
.racloop-search-fonts {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.racloop-controls {
    margin-top: 4px;
    margin-bottom: 4px;
}
ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}
ol.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}
ol.custom-ol {
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.custom-ol > li{
    position: relative;
    padding-left: 0.5em;
}
ol.custom-ol > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
    content: counter(li-counter);
    counter-increment: li-counter;
}
ul .custom-ul {
    margin: 0;
    margin-left: 3em;
    padding: 0;
}
ul.custom-ul > li{
    list-style-type: disc;
	list-style-position: inside;
	list-style-image: none;
    position: relative;
    padding-left: 3em;
}
ul.custom-ul > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
    font-weight: bold;
    text-align: right;
    color: #464646;
}
ul.active-journey-list  > li{
    min-height: 2em;
}
#registration-form {
	margin-top: 15px;
}
.zero-margin {
	margin-top: 0px;
}

.standard-red-button {
	background: #fc3b3b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzNiM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f25454), color-stop(100%, #fc3b3b));
	background: -webkit-linear-gradient(top, #f25454 0%, #fc3b3b 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f25454), to(#fc3b3b));
	background: linear-gradient(to bottom, #f25454 0%, #fc3b3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@gradient-light', endColorstr='@main-color', GradientType=0);
	-webkit-box-shadow: 0px 3px 0px #d00f0f;
	box-shadow: 0px 3px 0px #d00f0f;
}

.standard-red-button:hover {
	color: #ffffff;
	background: #fc3b3b !important;
	text-decoration: none;
}

.standard-red-button:focus {
	color: #ffffff;
}

.standard-red-button:active {
	background: #fc3b3b !important;
	border-color: inherit !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* TIMELINE CSS */
.racloop-clearfix:after,
#timeline .timeline-item:after,
.racloop-clearfix:before,
#timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both
}
#timeline {
    width: 90%;
    margin: 30px auto;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease
}
#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #008ed6;
    left: 50%;
    top: 0;
    position: absolute
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%
}
#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative
}
#timeline .timeline-item .timeline-icon {
    background: #008ed6;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}
#timeline .timeline-item .timeline-icon img {
    position: relative;
    top: 7px;
    left: 0px
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease
}
#timeline .timeline-item .timeline-content h2 {
    font-size: 1.2em;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    background: #008ed6;
    color: #fff;
    margin: -20px -20px 0 -20px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #008ed6
}
#timeline .timeline-item .timeline-content.right {
    float: right
}
#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #008ed6
}
@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0
    }
    #timeline:before {
        left: 0
    }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right
    }
    #timeline .timeline-item .timeline-content:before,
    #timeline .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #008ed6
    }
    #timeline .timeline-item .timeline-icon {
        left: 0
    }
}
table,
th,
td {
    border-collapse: collapse;
    border: 0
}
th,
td {
    text-align: left
}
.ctable {
    table-layout: fixed
}
.ctable tr:nth-child(odd) {
    background: #b8d1f3
}
.ctable tr:nth-child(even) {
    background: #dae5f4
}
